body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

nav {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
}

.description {
    display: flex;
    background-color: rgb(224, 221, 221);
    overflow: hidden;
    width: 100%;
}

.image-block {
    flex: 1;
    margin: 50px;
}

.image-block img {
    width: 100%;
    height: auto;
    display: block;
    padding: 30px;
    background-color: #f9f9f9;
}

.content-block {
    flex: 2;
    padding: 20px;
    margin: 50px;
    background-color: #f9f9f9;
}

.content-block h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

.content-block p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

hr {
    background-color: green;
}

h2 {
    color: green;
    margin: 10px;
}

.flex-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-1 {
    flex: 1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-1 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.statistics {
    height: 200px;
    background-color: rgb(154, 199, 154);
}

footer {
    background-color: rgb(61, 57, 57);
    color: white;
    height: 100%;
}